In [1]:
from azure.storage.blob import BlobServiceClient
import pandas as pd
from io import StringIO

In [ ]:
connection_string = ""

# Nom du container
container_name = "76byj86oc9kf"
blob_service_client = BlobServiceClient.from_connection_string(connection_string)

# Récupère le container
container_client = blob_service_client.get_container_client(container_name)

clients_file_name = "products.csv"

In [4]:
blob_products = container_client.get_blob_client(clients_file_name)
blob_data_products = blob_products.download_blob().readall()
df_products = pd.read_csv(StringIO(blob_data_products.decode('utf-8')), sep=';')

print(df_products.head())
print(df_products.count())

                 id            ean                         brand  \
0  3594483823563196  6377501104068  Rodriguez, Lopez and Summers
1  2477156078856630    16347216844         Rios, Owens and Rocha
2  3567228192434526  9295532048120               Rivera and Sons
3  6011725263718260  7572611905294               Hawkins-Leonard
4  3589934141863061  6033551312630                    Miller LLC

                                         description
0  Specific culture suffer would evening final vi...
1  Effect security focus future itself either chu...
2  Piece send every kid floor listen language imp...
3  Sister religious special large under agent ind...
4  Economy then fight star trouble identify offer...
id             5000
ean            5000
brand          4944
description    5000
dtype: int64

In [12]:
df_products.isnull().sum()

id              0
ean             0
brand          56
description     0
dtype: int64

In [14]:
df_products[~df_products["brand"].isnull()]

,id,ean,brand,description
0,3594483823563196,6377501104068,"Rodriguez, Lopez and Summers",Specific culture suffer would evening final vi...
1,2477156078856630,16347216844,"Rios, Owens and Rocha",Effect security focus future itself either chu...
2,3567228192434526,9295532048120,Rivera and Sons,Piece send every kid floor listen language imp...
3,6011725263718260,7572611905294,Hawkins-Leonard,Sister religious special large under agent ind...
4,3589934141863061,6033551312630,Miller LLC,Economy then fight star trouble identify offer...
...,...,...,...,...
4994,4619300978171,6309970084336,Simon LLC,Can never record protect reveal sound describe...
4995,38304097039756,6410273721948,Frederick-Martin,Exactly rise growth respond expert eight toget...
4997,3594077955257021,2772059258470,Patel-Ruiz,Page data stage difficult hand future many pus...
4998,6514105511305735,640883932427,Hicks and Sons,Our specific commercial gun who because local ...
4999,3542505562663507,3840270476559,Allen PLC,Positive prepare work more throw product eithe...

In [13]:
df_products[df_products['brand'].isnull()]

,id,ean,brand,description
53,6011938333572936,7215219767382,NaN,East mission main least throw radio approach m...
73,4481850844299063719,3744491935157,NaN,Voice live treat food program day receive thes...
188,4719237999833066,2632915492724,NaN,Behind face but heart window meeting relations...
491,180090541975838,1847467972834,NaN,Something top into such group detail point par...
679,676246860347,7662445596512,NaN,Approach purpose become town nature hour it ag...
765,3575003460763405,1593229082791,NaN,Without likely difficult agency campaign star ...
824,4383989641131434088,4968714655373,NaN,Now several high cause yard he process ready q...
1016,180025958169913,5845671276157,NaN,Wear role area follow ability represent Mr spe...
1133,4618352758810361,5921655059333,NaN,Hundred though control still difficult I admin...
1280,4015215927488089,4618732260423,NaN,Marriage high back baby industry call soldier ...
1411,501834018779,1461319745805,NaN,Wide stock again past method type conference r...
1737,2674722936067990,1594462833652,NaN,In evidence seat according recent page particu...
1808,374994495449862,707900971644,NaN,Factor suggest manager threat dinner after her...
1977,373385082375464,3216145437046,NaN,Current involve measure side doctor left toget...
2063,2279782039518801,6778072859812,NaN,Fast again president million my statement tech...
2090,4812661830231626,6014299725807,NaN,Design two child guy get start still hard tax ...
2256,676171098194,9449546513901,NaN,Real success on focus artist money sister may ...
2500,501871122013,8126126160052,NaN,Knowledge protect reflect indicate door budget...
2585,4019956426429,7695713353593,NaN,Less main during smile probably various appear...
2622,4616200626261594328,2512283689738,NaN,Card subject man skin first third real energy ...
2654,4752252267000882,3614585607690,NaN,Last material fight form magazine will account...
2695,2290786470146522,2156328419678,NaN,Congress result it standard return team such s...
2737,3517540041497574,1387926287838,NaN,Subject school claim work admit floor time yar...
2751,3592953820838918,9727026328765,NaN,Everybody state hotel position cut purpose muc...
2777,3502969630049537,6152584857342,NaN,Company north market main miss white ground mo...
2930,3536110525771832,8623738040234,NaN,There outside party behind image some program ...
3001,6592611995624967,3310591416263,NaN,Cell explain wind end benefit artist whom shak...
3131,4467171611035285,8898161092444,NaN,Ground not tree citizen forget produce book ma...
3137,342245517412407,7733222048842,NaN,If more month develop newspaper picture floor ...
3162,2268352346090937,1905648821538,NaN,Experience management upon dark either environ...
3214,4758048828563554317,3489143466756,NaN,Public show let memory her least campaign bad ...
3296,377924244887960,7644072098607,NaN,Region become control street house police tria...
3379,4326150252099671117,2214969976513,NaN,Job only quality institution soldier hit likel...
3384,4306931076556769,6910795929667,NaN,Claim big tonight page send bag popular hand f...
3396,3588931305321606,3262555449483,NaN,Opportunity that crime effect yes gun material...
3470,6011530312649924,1148236046450,NaN,Require if practice must none goal list teach ...
3621,4898319054074407,8439818336469,NaN,Nation really adult fear point relationship ev...
3654,2328126085548885,6972446050922,NaN,Meet play while audience nothing there fire ai...
3810,4919200326585003811,9286763065840,NaN,Expert establish standard perhaps four confere...
3833,375911319136987,6522046248382,NaN,Information catch try since sign wish mean pre...
3846,4687943163476453,5505866749568,NaN,Free walk film boy raise business red many cam...
3890,3506364161578607,5575317406388,NaN,Upon design lead paper outside term two follow...
3979,6532731117905525,4484312261483,NaN,Type factor bad professor factor need agreemen...
4037,4570867827120431,1428877683857,NaN,Rule wife also evening idea entire drop prepar...
4150,2447531664378503,8807409717070,NaN,Executive control try general stop drop party ...
4181,3593132793423110,8565054319536,NaN,Friend outside sort third ball more state catc...
4361,180056646625909,412878436407,NaN,Attorney wear item couple stock book best make...
4473,675954606470,9438544074859,NaN,Decision card perform she improve movie last c...
4498,3502330939756597,7631662127267,NaN,Sing morning control pressure address mind wit...
4526,6011038641010230,9405406002596,NaN,Others increase your expect not product profes...
4605,4168909061781,7945778656529,NaN,Prevent style subject enter full physical tria...
4697,3583413869115604,5267704796256,NaN,Yes energy protect series over relate individu...
4739,2639366877317032,6186737873422,NaN,Represent cell can hit keep because minute pre...
4946,4876874050426551,5907028060571,NaN,Star why when education news affect case state...
4992,4169875807076405132,5427698730814,NaN,Security a beyond leader baby participant him ...
4996,180043372838435,6762615535684,NaN,Water theory rate audience allow sport church ...

In [11]:
df_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           5000 non-null   int64
 1   ean          5000 non-null   int64
 2   brand        4944 non-null   object
 3   description  5000 non-null   object
dtypes: int64(2), object(2)
memory usage: 156.4+ KB

In [6]:
doublonsid = df_products[df_products.duplicated(subset='id', keep=False)]
display(doublonsid)

Empty DataFrame
Columns: [id, ean, brand, description]
Index: []

In [8]:
doublonsean = df_products[df_products.duplicated(subset='ean', keep=False)]
display(doublonsean)

Empty DataFrame
Columns: [id, ean, brand, description]
Index: []